# Importing Libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the data set

In [5]:
data =r"C:\Users\ky321\OneDrive\Desktop\Data science and Ai\workshop\EDA Automation\titanic_ dataset_final.csv"
dataset =pd.read_csv(data)

In [6]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#  Genrating the automated summary and insights from the data set
# AI-Powered Insights using Mistral-7B (Ollama)

In [10]:
import ollama 

def generate_insights(dataset_summary):
    prompt = f"Analysis the data set summary and provide the insights:\n\n {dataset_summary}"
    response = ollama.chat(model="mistral",messages=[{"role":"user","content":prompt}])
    return response["message"]["content"]

summary = dataset.describe().to_string()
insights = generate_insights(summary)
print("\n AI Genrated Insights:\n",insights)

 AI Genrated Insights:
  This data set is a subset of the Titanic dataset, which contains information about passengers on the Titanic and their survival status. Here are some insights from the summary:

1. Total number of unique entries (PassengerId) in the dataset is 891.
2. The mean (average) value for Survived is 0.3838, suggesting that slightly less than half of the passengers survived.
3. The Pclass column indicates the class of travel, with a mean value of 2.3086, implying that most passengers traveled in second-class cabins.
4. The Age column has a mean age of 29.6991 and a standard deviation of 14.526497, indicating a wide range of ages among the passengers.
5. The SibSp (Number of siblings/spouses aboard) and Parch (Number of parents/children aboard) columns have a mean value close to 0, suggesting that most passengers traveled alone or with only one other person.
6. The Fare column has a high standard deviation (49.693429), indicating a wide range in ticket prices for the passengers.
7. Minimum and maximum values for each variable are also provided, which can be useful for further analysis. For example, the minimum value of Survived is 0 (did not survive), while the maximum value is 1 (survived). The minimum age is 0.42, suggesting that an infant was traveling, and the maximum age is 80.

These insights provide a general overview of the dataset but further analysis, such as correlation analysis, grouping by survival status or class, etc., will be needed to gain deeper insights into patterns and relationships in the data.

# Genrating a Interface for insights and summary from the dataset using gradio

In [11]:
import gradio as gr

def eda_analysis(file):
    dataset = pd.read_csv(file)
    summary = dataset.describe().to_string()
    insights = generate_insights(summary)
    return insights

demo = gr.Interface(fn=eda_analysis,inputs="file",outputs="text")
demo.launch(share=True)

c:\Users\ky321\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

* Running on local URL:  http://127.0.0.1:7860
* Running on public URL: https://e3a2d2ac348ca957cc.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

Created dataset file at: .gradio\flagged\dataset1.csv